.btn {
	background-color: rgb(23, 121, 23);
	color: #fff; 
	margin-top: 1.5rem;
	padding: 0.5rem 1rem;
	border: solid 1px #fff;
	border-radius: 0.5rem;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
}

.btn:hover {
	background-color: rgb(9, 85, 9);
}