.btn {
	background-color: green;
	color: #fff; 
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid #fff;
	border-radius: 1rem;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
}

.btn:hover {
	background-color: darkgreen;
}