header {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

main {
	padding: 0rem 3rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 3rem;
  font-size: 0.825rem;
}

footer div {
  margin: 0.25rem 0;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: rgb(15, 15, 15);
  overflow: hidden;
}

.link {
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.link:hover {
  color: rgba(255, 255, 255, 0.9)
}

.docs {
  display: flex;
  align-items: center;
  gap: 1rem;
}