body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #a7ffa2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/** Shared blinking animation for the cursor */
@keyframes blink {
  50% {
    opacity: 1;
  }
}

.cursor {
  opacity: 0;
  animation: blink 800ms steps(1) infinite;
  animation-delay: 100ms;
}